@import url("https://fonts.googleapis.com/css?family=Nunito:bold");
@import url("https://fonts.googleapis.com/css?family=Assistant");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


$mainFont: 'Assistant', Helvetica, sans-serif;
$headingFont: 'Nunito', Helvetica, sans-serif;